<!DOCTYPE html>
<meta charset="utf-8">
<head>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<title> {{ title }} </title>

<body>

<div id="welcome">
<h1>{{ title }}</h1>
</div>

<form method=post enctype=multipart/form-data action="/upload">

  <input type=file id="imgSrcName" name="photofile" onchange='showpreview(this)'>
  <input type=submit value=Upload>
</form>
<img width="50%" id="previewImage">
<script>
function showpreview(e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#previewImage").attr("src", e.target.result);
        }
        //Imagepath.files[0] is blob type
        reader.readAsDataURL(e.files[0]);
    }
</script>
</body>
</html>

